    #content {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 40px;
      text-align: center;

    }
    .button {
      font: bold 60px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
    }

    div.footer {
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      text-align: center;
      position:absolute;
      bottom:0;
      width:100%;
      height:60px;   /* Height of the footer */
    }
    html, body {
      min-height: 100%;
    }
    navbar .active{
      background-color: blue;
    }